# Source
src/
scripts/

# Tests
*.test.js
*.spec.js
coverage/
jest.config.js

# Repository
.github/

# Typescript
tsconfig.json
tsconfig.cjs.json

# Linting
.releaserc.json
.prettierrc.json
.prettierrc
.eslintrc.json
eslint.config.js
.eslintignore

# Versioning
.nvmrc

# Build Packing
*.zip
